
  <div class="col-sm-8">
      <ol class="breadcrumb">
          <li><a href="/listlotto">แทงหวย</a></li>
          <li class="active">หวยรัฐบาล</li>
        </ol>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#lotto1" aria-controls="lotto1" role="tab" data-toggle="tab"  (click)="hidePanel(false)">กติกาหุ้นรัฐบาล</a></li>
          <li role="presentation"><a href="#lotto2" aria-controls="lotto2" role="tab" data-toggle="tab"  (click)="hidePanel(true)">สามตัวบน-โต๊ด</a></li>
          <li role="presentation"><a href="#lotto3" aria-controls="lotto3" role="tab" data-toggle="tab"  (click)="hidePanel(true)">สองตัวบน-ล่าง</a></li>
          <li role="presentation"><a href="#lotto4" aria-controls="lotto4" role="tab" data-toggle="tab"  (click)="hidePanel(true)">เลขวิ่ง</a></li>
          <li role="presentation"><a href="#lotto5" aria-controls="lotto5" role="tab" data-toggle="tab"  (click)="hidePanel(true)">เลขชุด/ดึงโพย</a></li>
        </ul>
      
        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="lotto1">

            <div class="col-xs-12"><div class="ibox"><div class="ibox-content"><h4><span style="font-size: 12pt;"><span style="font-weight: bold;">หวยรัฐบาล MARKET-LOTTO9</span>&nbsp;</span></h4>
              <ol>
              <li><span style="font-weight: bold; line-height: 18.5714302062988px;">ระบบ เปิดรับแทงทุกวัน ออนไลน์ 24 ชม. ท่านสามารถเดิมพันล่วงหน้าได้เลยค่ะ</span></li>
              <li><span style="font-weight: bold; line-height: 1.42857143;">ระบบ ปิดรับแทงเวลา 15:20 น. หากมีการเปลี่ยนแปลงทางบริษัทฯจะแจ้งให้ทราบล่วงหน้า 1 วันค่ะ</span></li>
              <li><span style="line-height: 15.7142858505249px;"><strong>ระบบ MARKET-LOTTO9 ให้ราคาการจ่ายที่สูงกว่าใคร ทุกการเดิมพันจีงไม่มีส่วนลด% ค่ะ</strong></span></li>
              <li><span style="line-height: 15.7142858505249px;"><strong>ระบบ สามารถเก็บแต้มสะสมเพื่อรับอัตราการจ่ายที่สูงขึ้นตามลำดับ VIP ของท่าน ท่านสามารถเข้าดูยอดสะสมและลำดับ vip ของท่านโดยคลิกที่เมนู สถานะ(XX)</strong></span></li>
              </ol>
              <p><span style="font-size: 10pt; color: #ff0000;"><span style="line-height: 15.7143px;"><strong>เลขอั้น และ เลขเต็ม</strong></span></span></p>
              <p><span style="font-size: 12pt;"><strong>เลขอั้น คือเลขที่เจ้ามือปิดรับแทงหรือจ่ายครึ่งราคาก่อนวันหวยออก 1 วัน</strong></span></p>
              <p><span style="font-size: 12pt;"><strong>เลขเต็ม คือเลขที่มีการสั่งซื้อเข้ามาเป็นจำนวนมาก ทำให้เจ้ามือปิดรับเลขตัวนั้นๆ</strong></span></p>
              <p><span style="font-size: 12pt;"><strong>ระบบ Jetsadabet เปิดรับแทงทุกตัวเลข ไม่มีเลขปิด ไม่ว่าจะเลขอั้นหรือเลขเต็ม ท่านสมาชิกก็สามารถแทงหวยทุกตัวเลข เพียงแต่เลขที่อั้นและเลขเต็ม อาจะมีการปรับราคาจ่ายลงเฉพาะตัวเลขนั้น หากมีเลขอั้นหรือเลขเต็มทางทีมงานจะขึ้นข้อความวิ่งเพื่อแจ้งสมาชิกทุกๆท่านให้ทราบ เลขอั้น เลขเต็ม ให้ท่านโปรดตรวจสอบราคาจ่ายของตัวเลขก่อนส่งโพยทุกครั้ง ส่วนสมาชิกแทงเข้ามาก่อนจะมีการปรับราคา ก็จะได้ราคาจ่ายเต็มตามที่สั่งซื้อเข้ามาปกติ</strong></span></p>
              <p><span style="font-size: 12pt;"><strong>(เลขเต็มอาจะมีในช่วงเวลา 12:00น.ถึงเวลา15:30 หรืออาจะไม่มี)</strong></span></p>
              <p><span style="font-size: 12pt;"><strong>ส่วนท่านที่แทงเลขอั้นหวยรัฐบาลเข้ามาก่อนวันที่ 15 หรือก่อนประกาศเลขอั้น ทางทีมงานอาจะมีการยกเลิกในบางกรณี(ย้ำนะครับบางกรณีเท่านั้น เช่น เลขดังจริงๆ เลขที่เจ้ามือปิดรับทุกเจ้าไม่มีเจ้ามือไหนรับ) ขอให้ท่านเข้าไปเช็คโพยที่ท่านแทงเลขอั้นเข้ามา หากมีการโดนยกเลิกสถานะจะแจ้งเตือน และเอเย่นต์จะทำการติดต่อท่านเพื่อแจ้งให้ทราบครับ แต่หากโพยยังอยู่แสดงว่าสถานะ รับแทง ปกติครับ</strong></span></p>
              <p>&nbsp;</p>
              <p><span style="font-size: 10pt;"><strong><span style="line-height: 1.42857143;">ตาราง ราคาการจ่ายปกติ และ ราคาจ่ายแบบผันราคา และ อัตราการจ่ายพิเศษแบบ VIP ที่ให้คุณมากกว่าใคร</span></strong></span></p>
              <div class="table-responsive">
              <table style="height: 251px;max-width:782px" class="table table-bordered">
              <tbody>
              <tr>
              <td style="text-align: left;"><strong>&nbsp;ประเภทหวย/ราคาจ่าย</strong></td>
              <td style="text-align: left;"><strong>&nbsp;ราคาปกติ</strong></td>
              <td style="text-align: left;"><strong>&nbsp;ราคาผัน</strong></td>
              <td style="text-align: left;"><strong>&nbsp;VIP1</strong></td>
              <td style="text-align: left;"><strong>&nbsp;VIP2</strong></td>
              <td style="text-align: left;"><strong>VIP3&nbsp;</strong></td>
              <td style="text-align: left;"><strong>VIP4</strong></td>
              </tr>
              <tr>
              <td>&nbsp;3 ตัวบนตรง</td>
              <td>&nbsp;800</td>
              <td>&nbsp;-</td>
              <td>&nbsp;+10</td>
              <td>&nbsp;+20</td>
              <td>&nbsp;+30</td>
              <td>&nbsp;โบนัส 100,000 บ.</td>
              </tr>
              <tr>
              <td>&nbsp;3 ตัวโต๊ด</td>
              <td>&nbsp;130</td>
              <td>&nbsp;-</td>
              <td>&nbsp;+5</td>
              <td>&nbsp;+10</td>
              <td>&nbsp;+10</td>
              <td>&nbsp;ทองคำหนัก 1 บาท</td>
              </tr>
              <tr>
              <td>&nbsp;3 ตัวล่าง หมุน 2 ครั้ง</td>
              <td>&nbsp;400</td>
              <td>&nbsp;-</td>
              <td>&nbsp;+5</td>
              <td>&nbsp;+10</td>
              <td>&nbsp;+20</td>
              <td>&nbsp;ที่พักสุดหรู 3วัน 2คืน</td>
              </tr>
              <tr>
              <td>&nbsp;3 ตัวหน้า หมุน 2 ครั้ง</td>
              <td>&nbsp;400</td>
              <td>&nbsp;-</td>
              <td>&nbsp;+5</td>
              <td>&nbsp;+10</td>
              <td>&nbsp;+20</td>
              <td>&nbsp;เลขาส่วนตัวแบบ vip</td>
              </tr>
              <tr>
              <td>&nbsp;2 ตัวบน - ล่าง</td>
              <td>&nbsp;90</td>
              <td>&nbsp;-</td>
              <td>&nbsp;+1</td>
              <td>&nbsp;+2</td>
              <td>&nbsp;+2</td>
              <td>&nbsp;+2</td>
              </tr>
              <tr>
              <td>&nbsp;เลขวิ่ง 3 ตัวบน</td>
              <td>&nbsp;3.2</td>
              <td>&nbsp;-</td>
              <td>&nbsp;+0.1</td>
              <td>&nbsp;+0.2</td>
              <td>&nbsp;+0.3</td>
              <td>&nbsp;+0.3</td>
              </tr>
              <tr>
              <td>&nbsp;เลขวิ่ง 2 ตัวล่าง</td>
              <td>&nbsp;4.2</td>
              <td>&nbsp;-</td>
              <td>&nbsp;+0.1</td>
              <td>&nbsp;+0.2</td>
              <td>&nbsp;+0.3&nbsp;</td>
              <td>&nbsp;+0.3</td>
              </tr>
              </tbody>
              </table>
              </div>
              <p><small style="color: #c00;">** ตารางสามารถเลื่อนขวาได้ในกรณีใช้มือถือ</small></p>
              <p>&nbsp;** หากราคามีการเปลี่ยนแปลง ทางบริษัทฯจะแจ้งให้ทราบล่วงหน้าก่อนมีการเปลี่ยนแปลง 7 วันค่ะ **</p>
              <p style="padding-left: 30px;">&nbsp;</p>
              <p>&nbsp;</p></div></div></div>


          </div>
          <div role="tabpanel" class="tab-pane" id="lotto2">
            <br>
              <div class="btn-group btn-group-lg" role="group" aria-label="...">
                 <button type="button" class="btn btn-primary">สามตัวบน (750+30)</button>
                <button type="button" class="btn btn-default">สามตัวโต๊ด (120+10) </button>
              </div>
              <br>  <br> 
              <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#000" aria-controls="lotto1" role="tab" data-toggle="tab"  (click)="hidePanel(true)">000</a></li>
                <li role="presentation"><a href="#111" aria-controls="lotto2" role="tab" data-toggle="tab"  (click)="hidePanel(true)">100</a></li>
                <li role="presentation"><a href="#222" aria-controls="lotto3" role="tab" data-toggle="tab"  (click)="hidePanel(true)">200</a></li>
                <li role="presentation"><a href="#333" aria-controls="lotto4" role="tab" data-toggle="tab"  (click)="hidePanel(true)">300</a></li>
                <li role="presentation"><a href="#444" aria-controls="lotto5" role="tab" data-toggle="tab"  (click)="hidePanel(true)">400</a></li>
                <li role="presentation"><a href="#555" aria-controls="lotto1" role="tab" data-toggle="tab"  (click)="hidePanel(true)">500</a></li>
                <li role="presentation"><a href="#666" aria-controls="lotto2" role="tab" data-toggle="tab"  (click)="hidePanel(true)">600</a></li>
                <li role="presentation"><a href="#777" aria-controls="lotto3" role="tab" data-toggle="tab"  (click)="hidePanel(true)">700</a></li>
                <li role="presentation"><a href="#888" aria-controls="lotto4" role="tab" data-toggle="tab"  (click)="hidePanel(true)">800</a></li>
                <li role="presentation"><a href="#999" aria-controls="lotto5" role="tab" data-toggle="tab"  (click)="hidePanel(true)">900</a></li>
              </ul>

              <div role="tabpanel" class="tab-pane" id="000">
              <table class="table table-bordered">
                  <tr>
                      <td ><button class="btn btn-default active" style="width:100%" type="submit">000</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">001</button></td>
                      <td ><button class="btn btn-default active" style="width:100%" type="submit">002</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">003</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">004</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">005</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">006</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">007</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">008</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">009</button></td>
                    </tr>
                    <tr>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">010</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">011</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">012</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">013</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">014</button></td>
                        <td ><button class="btn btn-default active" style="width:100%" type="submit">015</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">016</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">017</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">018</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">019</button></td>
                      </tr>
                      <tr>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">020</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">021</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">022</button></td>
                          <td ><button class="btn btn-default active" style="width:100%" type="submit">023</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">024</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">025</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">026</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">027</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">028</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">029</button></td>
                        </tr>
                        <tr>
                            <td ><button class="btn btn-default active" style="width:100%" type="submit">030</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">031</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">032</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">033</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">034</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">035</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">036</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">037</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">038</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">039</button></td>
                          </tr>
                          <tr>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">040</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">041</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">042</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">043</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">044</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">045</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">046</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">047</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">048</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">049</button></td>
                            </tr>
                            <tr>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">050</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">051</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">052</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">053</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">054</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">055</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">056</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">057</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">058</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">059</button></td>
                              </tr>
                              <tr>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">060</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">061</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">062</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">063</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">064</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">065</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">066</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">067</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">068</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">069</button></td>
                                </tr>
                                <tr>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">070</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">071</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">072</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">073</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">074</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">075</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">076</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">077</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">078</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">079</button></td>
                                  </tr>
                                  <tr>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">080</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">081</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">082</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">083</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">084</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">085</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">086</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">087</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">088</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">089</button></td>
                                    </tr>
                                    <tr>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">090</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">091</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">092</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">093</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">094</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">095</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">096</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">097</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">098</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">099</button></td>
                                      </tr>
                </table>
              </div>

              <div role="tabpanel" class="tab-pane" id="100">
                </div>

                <div role="tabpanel" class="tab-pane" id="200">
                  </div>
                  
              <div role="tabpanel" class="tab-pane" id="300">
                </div>
                
              <div role="tabpanel" class="tab-pane" id="400">
                </div>
                
              <div role="tabpanel" class="tab-pane" id="500">
                </div>
                
              <div role="tabpanel" class="tab-pane" id="60">
                </div>
                
              <div role="tabpanel" class="tab-pane" id="700">
                </div>
                <div role="tabpanel" class="tab-pane" id="800">
                  </div>
                  <div role="tabpanel" class="tab-pane" id="900">
                    </div>
                  
          </div>
          <div role="tabpanel" class="tab-pane" id="lotto3">
              <br>
              <div class="btn-group btn-group-lg" role="group" aria-label="...">
                 <button type="button" class="btn btn-primary">สองตัวบน (90+2)</button>
                <button type="button" class="btn btn-default">สองตัวล่าง (90+2) </button>
              </div>
              <br>  <br> 
              <table class="table table-bordered">
                  <tr>
                      <td ><button class="btn btn-default active" style="width:100%" type="submit">00</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">01</button></td>
                      <td ><button class="btn btn-default active" style="width:100%" type="submit">02</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">03</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">04</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">05</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">06</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">07</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">08</button></td>
                      <td ><button class="btn btn-default" style="width:100%" type="submit">09</button></td>
                    </tr>
                    <tr>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">10</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">11</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">12</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">13</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">14</button></td>
                        <td ><button class="btn btn-default active" style="width:100%" type="submit">15</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">16</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">17</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">18</button></td>
                        <td ><button class="btn btn-default" style="width:100%" type="submit">19</button></td>
                      </tr>
                      <tr>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">20</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">21</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">22</button></td>
                          <td ><button class="btn btn-default active" style="width:100%" type="submit">23</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">24</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">25</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">26</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">27</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">28</button></td>
                          <td ><button class="btn btn-default" style="width:100%" type="submit">29</button></td>
                        </tr>
                        <tr>
                            <td ><button class="btn btn-default active" style="width:100%" type="submit">30</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">31</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">32</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">33</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">34</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">35</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">36</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">37</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">38</button></td>
                            <td ><button class="btn btn-default" style="width:100%" type="submit">39</button></td>
                          </tr>
                          <tr>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">40</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">41</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">42</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">43</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">44</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">45</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">46</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">47</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">48</button></td>
                              <td ><button class="btn btn-default" style="width:100%" type="submit">49</button></td>
                            </tr>
                            <tr>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">50</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">51</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">52</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">53</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">54</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">55</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">56</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">57</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">58</button></td>
                                <td ><button class="btn btn-default" style="width:100%" type="submit">59</button></td>
                              </tr>
                              <tr>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">60</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">61</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">62</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">63</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">64</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">65</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">66</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">67</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">68</button></td>
                                  <td ><button class="btn btn-default" style="width:100%" type="submit">69</button></td>
                                </tr>
                                <tr>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">70</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">71</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">72</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">73</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">74</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">75</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">76</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">77</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">78</button></td>
                                    <td ><button class="btn btn-default" style="width:100%" type="submit">79</button></td>
                                  </tr>
                                  <tr>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">80</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">81</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">82</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">83</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">84</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">85</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">86</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">87</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">88</button></td>
                                      <td ><button class="btn btn-default" style="width:100%" type="submit">89</button></td>
                                    </tr>
                                    <tr>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">90</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">91</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">92</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">93</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">94</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">95</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">96</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">97</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">98</button></td>
                                        <td ><button class="btn btn-default" style="width:100%" type="submit">99</button></td>
                                      </tr>
                </table>
          </div>
          <div role="tabpanel" class="tab-pane" id="lotto4">

            <br>
            <div class="btn-group btn-group-lg" role="group" aria-label="...">
               <button type="button" class="btn btn-primary">วิ่งบน(3.20+0.30)</button>
              <button type="button" class="btn btn-default">วิ่งล่าง (4.20+0.30) </button>
            </div>
            <br>  <br> 

            <table class="table table-bordered">
              <tr>
                  <td ><button class="btn btn-default active" style="width:100%" type="submit">0</button></td>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">1</button></td>
                  <td ><button class="btn btn-default active" style="width:100%" type="submit">2</button></td>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">3</button></td>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">4</button></td>
                </tr>
                <tr>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">5</button></td>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">6</button></td>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">7</button></td>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">8</button></td>
                  <td ><button class="btn btn-default" style="width:100%" type="submit">9</button></td>
                </tr>
</table>



          </div>
          <div role="tabpanel" class="tab-pane" id="lotto5">...</div>
        </div>
    </div>
   
    <div class="col-sm-4" *ngIf="isHome">

        <div class="panel panel-info">
    
            <div class="panel-heading"> รายการแทง <a href="#number-sets-modal" data-toggle="modal" class="btn btn-warning pull-right btn-sm" style="position: absolute; top: 10px; right: 24px;">เลขชุด / ดึงโพย</a></div>
          <div class="panel-body">
            <b>สามตัวบน</b>
          <div style="margin-top:5px">
              <form class="form-inline">
                  <div class="form-group form-group-sm">
                    <label class="sr-only" for="exampleInputAmount"></label>
                    <div class="input-group">
                      <div class="input-group-addon"><b>000</b></div>
                      <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="ระบุจำนวนเงิน" value="1">
                      <div class="input-group-addon">  ชนะ : 780</div>
                    </div>
                  </div> &nbsp; &nbsp;
                  <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                </form>
              </div>
                
          <div style="margin-top:5px">
                <form class="form-inline">
                    <div class="form-group form-group-sm">
                      <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                      <div class="input-group">
                        <div class="input-group-addon"><b>002</b></div>
                        <input type="text" class="form-control input-s" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                        <div class="input-group-addon">  ชนะ : 780</div>
                      </div>
                    </div> &nbsp; &nbsp;
                    <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                  </form>
                </div>
                <div style="margin-top:5px">
                  <form class="form-inline">
                      <div class="form-group  form-group-sm">
                        <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                        <div class="input-group">
                          <div class="input-group-addon"><b>015</b></div>
                          <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                          <div class="input-group-addon">  ชนะ : 780</div>
                        </div>
                      </div> &nbsp; &nbsp;
                      <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                    </form>
                  </div>
                  <div style="margin-top:5px">
                      <form class="form-inline">
                          <div class="form-group form-group-sm">
                            <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                            <div class="input-group">
                              <div class="input-group-addon"><b>023</b></div>
                              <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                              <div class="input-group-addon">  ชนะ : 780</div>
                            </div>
                          </div> &nbsp; &nbsp;
                          <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                        </form>
                      </div>
                      <div style="margin-top:5px">
                          <form class="form-inline">
                              <div class="form-group form-group-sm">
                                <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                                <div class="input-group">
                                  <div class="input-group-addon"><b>030</b></div>
                                  <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                                  <div class="input-group-addon">  ชนะ : 780</div>
                                </div>
                              </div> &nbsp; &nbsp;
                              <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                            </form>
                          </div>
          </div>
          <div class="panel-body">
              <b>สามตัวโต๊ด</b>
            <div style="margin-top:5px">
                <form class="form-inline">
                    <div class="form-group form-group-sm">
                      <label class="sr-only" for="exampleInputAmount"></label>
                      <div class="input-group">
                        <div class="input-group-addon"><b>000</b></div>
                        <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="ระบุจำนวนเงิน" value="1">
                        <div class="input-group-addon">  ชนะ : 780</div>
                      </div>
                    </div> &nbsp; &nbsp;
                    <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                  </form>
                </div>
                  
            <div style="margin-top:5px">
                  <form class="form-inline">
                      <div class="form-group form-group-sm">
                        <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                        <div class="input-group">
                          <div class="input-group-addon"><b>002</b></div>
                          <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                          <div class="input-group-addon">  ชนะ : 780</div>
                        </div>
                      </div> &nbsp; &nbsp;
                      <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                    </form>
                  </div>
                  <div style="margin-top:5px">
                    <form class="form-inline">
                        <div class="form-group form-group-sm">
                          <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                          <div class="input-group">
                            <div class="input-group-addon"><b>015</b></div>
                            <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                            <div class="input-group-addon">  ชนะ : 780</div>
                          </div>
                        </div> &nbsp; &nbsp;
                        <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                      </form>
                    </div>
                    <div style="margin-top:5px">
                        <form class="form-inline">
                            <div class="form-group form-group-sm">
                              <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                              <div class="input-group">
                                <div class="input-group-addon"><b>023</b></div>
                                <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                                <div class="input-group-addon">  ชนะ : 780</div>
                              </div>
                            </div> &nbsp; &nbsp;
                            <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                          </form>
                        </div>
                        <div style="margin-top:5px">
                            <form class="form-inline">
                                <div class="form-group form-group-sm">
                                  <label class="sr-only" for="exampleInputAmount">สามตัวบน</label>
                                  <div class="input-group">
                                    <div class="input-group-addon"><b>030</b></div>
                                    <input type="text" class="form-control" style="width: 100px" id="exampleInputAmount" placeholder="Amount" value="1">
                                    <div class="input-group-addon">  ชนะ : 780</div>
                                  </div>
                                </div> &nbsp; &nbsp;
                                <button type="button" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-remove"></i></button>
                              </form>
                            </div>
            </div>
          <div class="panel-footer">จำนวนเงินทั้งหมด : 10</div>
        </div>

        
        <div class="panel panel-default">
            <div class="panel-heading"> เงื่อนไขการแทง</div>
          <div class="panel-body">
            <b>สามตัวบน</b><br>
            แทงขั้นต่ำต่อครั้ง : 1 <br>
            แทงสูงสุดต่อครั้ง : 100 <br>
            แทงสูงสุดต่อเลข : 100 <br>
            </div>
            <hr>
            <div class="panel-body">
                <b>สามตัวโต๊ด</b><br>
                แทงขั้นต่ำต่อครั้ง : 1 <br>
                แทงสูงสุดต่อครั้ง : 500 <br>
                แทงสูงสุดต่อเลข : 500 <br>
              </div>
          </div>
      </div>