

<div class="col-sm-2">
  <div class="list-group">
    <a href="/lotto" class="list-group-item  list-group-item-success">
      <h4 class="list-group-item-heading text-center">หวยรัฐบาล</h4>
      <hr>
      <h5>ปิดรับ : 30/12/2561 15:30:00 </h5>
      <h3  class="text-center">{{timeLeft1}}</h3>
    </a>
</div>
<div class="list-group">
  <a href="/lotto" class="list-group-item list-group-item-success">
    <h4 class="list-group-item-heading text-center">หวยหุ้นไทย</h4>
    <hr>
    <h5>ปิดรับ : 30/12/2561 15:30:00 </h5>
    <h3  class="text-center">{{timeLeft1}}</h3>
  </a>
</div>
</div>



<div class="col-sm-2">
<div class="list-group">
  <a href="/lotto" class="list-group-item list-group-item-success">
    <h4 class="list-group-item-heading  text-center">หวยหุ้นไทย</h4>
    <hr>
    <h5>ปิดรับ : 30/12/2561 15:30:00 </h5>
    <h3  class="text-center">{{timeLeft1}}</h3>
  </a>
</div>
</div>

<div class="col-sm-2">
<div class="list-group">
  <a href="/lotto" class="list-group-item list-group-item-success">
    <h4 class="list-group-item-heading text-center">หวยหุ้นต่างประเทศ</h4>
    <hr>
    <h5>ปิดรับ : 30/12/2561 15:30:00 </h5>
    <h3  class="text-center">{{timeLeft1}}</h3>
  </a>
</div>
</div>
<div class="col-sm-2">
  <div class="list-group">
    <a href="/lotto" class="list-group-item list-group-item-danger">
      <h4 class="list-group-item-heading text-center">หวยมาเลย์</h4><hr>
      <h5>ปิดรับ : 30/12/2561 15:30:00 </h5>
      <h3  class="text-center">ปิดรับแทง</h3>
    </a>
  </div>
</div>
  
<div class="col-sm-2">
  <div class="list-group">
    <a href="/lotto" class="list-group-item list-group-item-success">
      <h4 class="list-group-item-heading text-center">หวยเวียดนาม/ลาว</h4><hr>
      <h5>ปิดรับ : 30/12/2561 15:30:00 </h5>
      <h3  class="text-center">{{timeLeft1}}</h3>
    </a>
  </div>
</div>


<div class="col-sm-2">


  <div class="list-group">
    <a href="/lotto" class="list-group-item list-group-item-success">
      <h4 class="list-group-item-heading text-center">หวยปิงปอง</h4><hr>
      <h5>ปิดรับ : 30/12/2561 15:30:00 </h5>
      <h3  class="text-center">{{timeLeft1}}</h3>
    </a>
  </div>

</div>
